@import 'var';
@import 'navbar';
@import 'body';
@import 'about_me';
@import 'header';
@import 'projects';
@import 'resources';
@import 'footer';
@import 'social';
//@import 'keyframes';
@import 'mixins';
